@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Theme Variables */
:root {
  --lavender-web: #e5e1eeff;
  --light-cyan: #dffdffff;
  --powder-blue: #90bedeff;
  --font-sans: 'Cabin', sans-serif;
  --background: var(--powder-blue);
}

body {
  background-color: var(--background);
  color: black;
  font-family: var(--font-sans);
}
