@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Theme Variables */
:root {
  --lavender-web: #e5e1eeff;
  --light-cyan: #dffdffff;
  --powder-blue: #90bedeff;
  --font-sans: 'Cabin', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--powder-blue);
    /* --foreground: var(--light-cyan); */
  }
}

body {
  background-color: var(--background);
  color: black;
  font-family: var(--font-sans);
}
